.page-post{
    .css-1duy1hk {
        .MuiTextField-root{
            width: 100%;
            max-width: 400px;
            margin: .5rem 0;
            @media (min-width:$sm){
                margin: .5rem .5rem;
            }

           
        }
        .box{
            .MuiTextField-root{
                margin-left: 0;
                margin-right:0;
            }
        }
    }
    .MuiBox-root-postinss{
        @include card-ui();
        padding: 0 .5rem 1rem .5rem;
        @media (min-width:$sm){
            padding: 1rem .5rem;
        }
    }
    > .MuiBox-root{
       
    }

    .MuiBox-root{
        .css-hpgf8j{
            >div{
                &:not(.box){
                   
                        width: 100%;
                        max-width: 400px;
                        border-radius: .25rem;
                        // box-shadow: 0 1px 3px rgba($black, .3);
                        border: 1px solid rgba(0,0,0,.23);
                    .MuiTypography-root{
                        &:first-child{
                            margin: .25rem .5rem;
                            display: block;
                        }
                    }
                }
                &:not(.box) + {
                    div[class |="css"]{
                        border: 0;
                    }
                }
                
            }
            // .css-wxvrsw-MuiTypography-root{
            //     margin: .25rem .5rem;
            //     display: block;
            // }
        }
        &.css-0{
            @media (min-width:$sm){
                padding: .5rem;
            }
        }
    } 
    button[type=submit] {
        &.MuiButtonBase-root{
            @media (min-width:$sm){
                margin: 1rem .5rem;
            }
        }
    }
    
}

footer.MuiBox-root{
    .MuiButtonBase-root{
        &.MuiIconButton-root{
            svg{
                color: $primary !important;
            }
        
        }
    } 
}

button[type=submit] {
    &.MuiButtonBase-root{
        background-color: $primary !important;
    }
}

