$font-stack: Helvetica, sans-serif;
$primary-color: rgb(218, 10, 10);

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 1.275rem !important;
  background-color: #ccc !important;
}