.MuiBreadcrumbs-li{
    svg[data-testid=HomeIcon]{
        vertical-align: middle;
        width: .9em;
        height: .9em;
    }
}

.container-breadcrumb{
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    @include container();
    
    nav.MuiTypography-root{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
}

