$sm-600: 600px;

.App-toolbar-11,
.MuiDrawer-root .jss11{
    @media (min-width:$sm-600){
        min-height: 56px !important;
    }
}

.MuiDrawer-root{
    .MuiList-padding{
        padding-top: 0px;
    }
}

.page-home{
    .css-4hc8cj-MuiContainer-root{
        @media (min-width:$sm-600){
            padding-left: 1rem;
            padding-right: 1rem;
        }
        > .css-4hc8cj-MuiContainer-root{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .MuiContainer-root{
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: none;
        .MuiContainer-root{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .MuiContainer-maxWidthLg{
        max-width: none;
    }

    .css-4reedn-MuiSpeedDial-root{
        position: fixed;
        bottom: auto;
        top: 32%;
    }
    .MuiCardContent-root{
        button{
            &.MuiButtonBase-root{
                img +{
                    div{
                        color: $black !important;
                        background-color: $white !important;
                        box-shadow: 0 1px 2px rgba($black, .4);
                        font-weight: 700;
                        font-size: 1rem;
                        line-height: 1;
                        padding-top: 6px !important;
                        padding-bottom: 4px !important;
                    }
                }
            }
        }
    }
    .Mui-containNoti-css{
        height: 24px;
        .Mui-iconnoti-cSS{
            // padding-left: 2px;
            background-color: $bl-red;
            color: $white;
            border-radius: 50%;
            top: 0;
            min-width: 1.25rem;
            height: 1.25rem;
            font-size: .7rem;
            top: 0;
            line-height: 1.45;
        }
    }
   
}

// .MuiCardContent-root{
//     button{
//         &.MuiButtonBase-root{
//             img +{
//                 div{
//                     color: $black !important;
//                     background-color: $white !important;
//                     box-shadow: 0 1px 2px rgba($black, .4);
//                     font-weight: 700;
//                     font-size: 1rem;
//                     line-height: 1;
//                     padding-top: 6px !important;
//                     padding-bottom: 4px !important;
//                 }
//             }
//         }
//     }
// }

button{
    &.MuiButtonBase-root{
        img +{
            div{
                color: $black !important;
                background-color: $white !important;
                box-shadow: 0 1px 2px rgba($black, .4);
                font-weight: 700;
                font-size: 1rem;
                line-height: 1;
                padding-top: 6px !important;
                padding-bottom: 4px !important;
            }
        }
    }
}

.MuiModal-root{
    .MuiPaper-root{
        padding-left: 1rem;
        padding-right: 1rem;
        @media (max-width:$sm){
            left: 10%;
        }
    }
    .commentSection{
        .displayComments{
            min-height: 60px;
            max-height: 250px;
            overflow-y: auto;
        }
    }
    .MuiBox-root{
        @media (max-width:$sm){   
            max-width: 400px;
            width: 100%;
        }
    }
}

ul.MuiList-root{
    li.MuiButtonBase-root{
        button{
            &.react-share__ShareButton{
                display: flex;
                align-items: center;
                svg{
                    margin-right: .5rem;
                }
            }
        }
        &:last-child{
            display: flex;
            align-items: center;
            svg{
                margin-right: .5rem;
                margin-left: .25rem;
            }
        }
    }

}

.displayComments {
    .commentsTwo{
        >div{
            display: flex;
            flex-grow: 1;
            .MuiAvatar-root{
                margin-right: 4px;
            } 
        }
    }
    .userInfo{
       > .MuiTypography-root{
            color: rgba(0,0,0, .54);
            margin-left: 1rem;
            padding: 0 0.5em;
            border-radius: 0.5em;
            background-color: $gray-d;
        }
    }
    
}

.replySection{
    .userInfo{
        > .MuiTypography-root{
            position: relative;
             &::before{
                 position: absolute;
                 content: "";
                 height: 2px;
                 width: 38px;
                 top: 50%;
                 left: -33px;
                 background-color: $gray-d;
 
             }
         }
     }
}