$sm-600: 600px;
.MuiAppBar-colorPrimary{
    background-color: $primary !important;
    &.MuiPaper-elevation4{
        box-shadow: 0px 1px 3px rgba($black, .4);
    }
}

.App-toolbar-11,
.MuiDrawer-root .jss11{
    @media (min-width:$sm-600){
        min-height: 56px !important;
    }
}

.MuiDrawer-root{
    .MuiList-padding{
        padding-top: 0px;
    }
}

.MuiList-root{
    .MuiButtonBase-root{
        &.Mui-selected{
            background: rgba(60,67,67, .23);
        }
    }
}

.css-zun73v.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
    color: $primary !important;
}

.MuiCardHeader-root{
    .MuiTypography-colorTextSecondary{
        color: rgba($black, .54) !important;
       
    }
}
.MuiTypography-colorTextSecondary{
    color: rgba($black, 1) !important;
   
}

.show-more-text{
    color: $gray-6;
}

.page-home{
    .css-4hc8cj-MuiContainer-root{
        @media (min-width:$sm-600){
            padding-left: 1rem;
            padding-right: 1rem;
        }
        > .css-4hc8cj-MuiContainer-root{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .MuiContainer-root{
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: none;
        .MuiContainer-root{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .MuiContainer-maxWidthLg{
        max-width: none;
    }

    .MuiSpeedDial-root{
        position: fixed;
        bottom: auto;
        top: 32%;
    }
    .MuiCardContent-root{
        button{
            &.MuiButtonBase-root{
                img +{
                    div{
                        color: $black !important;
                        background-color: $white !important;
                        box-shadow: 0 1px 2px rgba($black, .4);
                        font-weight: 700;
                        font-size: 1rem;
                        line-height: 1;
                        padding-top: 6px !important;
                        padding-bottom: 4px !important;
                    }
                }
            }
        }
    }
    .Mui-containNoti-css{
        height: 24px;
        .Mui-iconnoti-cSS{
            // padding-left: 2px;
            background-color: $bl-red;
            color: $white;
            border-radius: 50%;
            top: 0;
            min-width: 1.25rem;
            height: 1.25rem;
            font-size: .7rem;
            top: 0;
            line-height: 1.45;
        }
    }

    .MuiFormControl-root{
        .MuiInputBase-root{
            background-color: $white;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            outline: 0 !important;
            &:hover{
                fieldset.MuiOutlinedInput-notchedOutline{
                    border-color: rgba($black, .23);
                    box-shadow: 0 2px 8px 1px rgba(64,60,67, .24);
                }
            }
           
    
            .MuiSvgIcon-root{
                color: $gray-6;
            }
           
        }
    }
   
}

.MuiSpeedDial-root{
    .MuiButtonBase-root{
        background-color: $primary;
        &:hover{
            background-color: $primary;
        }
    }
    div[class |="css"]{
        background-color: $primary;
    }
    .css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab{
        &:hover{
            background-color: $primary;
        }
    }
}

// .MuiCardContent-root{
//     button{
//         &.MuiButtonBase-root{
//             img +{
//                 div{
//                     color: $black !important;
//                     background-color: $white !important;
//                     box-shadow: 0 1px 2px rgba($black, .4);
//                     font-weight: 700;
//                     font-size: 1rem;
//                     line-height: 1;
//                     padding-top: 6px !important;
//                     padding-bottom: 4px !important;
//                 }
//             }
//         }
//     }
// }

button{
    &.MuiButtonBase-root{
        img +{
            div{
                color: $black !important;
                background-color: $white !important;
                box-shadow: 0 1px 2px rgba($black, .4);
                font-weight: 700;
                font-size: 1rem;
                line-height: 1;
                padding-top: 6px !important;
                padding-bottom: 4px !important;
            }
        }
    }
}

.MuiModal-root{
    .MuiPaper-root{
        padding-left: 1rem;
        padding-right: 1rem;
        @media (max-width:$sm){
            left: 10%;
        }
    }
    .commentSection{
        .displayComments{
            min-height: 60px;
            max-height: 250px;
            overflow-y: auto;
        }
    }
    .MuiBox-root{
        @media (max-width:$sm){   
            max-width: 400px;
            width: 100%;
        }
    }
}

ul.MuiList-root{
    li.MuiButtonBase-root{
        button{
            &.react-share__ShareButton{
                display: flex;
                align-items: center;
                color: $gray-6 !important;
                svg{
                    margin-right: .5rem;
                    
                }
            }
        }
        &:last-child{
            display: flex;
            align-items: center;
            svg{
                margin-right: .5rem;
                margin-left: .25rem;
                color: $gray-6 !important;
            }
        }
    }

}

.displayComments {
    .commentsTwo{
        >div{
            display: flex;
            flex-grow: 1;
            .MuiAvatar-root{
                margin-right: 4px;
            } 
        }
    }
    .userInfo{
       > .MuiTypography-root{
            color: rgba(0,0,0, .54);
            margin-left: 1rem;
            padding: 0 0.5em;
            border-radius: 0.5em;
            background-color: $gray-d;
            align-self:flex-start;
        }
    }
    
}

.replySection{
    .userInfo{
        > .MuiTypography-root{
            position: relative;
             &::before{
                 position: absolute;
                 content: "";
                 height: 2px;
                 width: 38px;
                 top: 50%;
                 left: -33px;
                 background-color: $gray-d;
 
             }
         }
     }
}



.MuiAutocomplete-root{
    &.Mui-focused{
        //border: 3px solid #f00;
        .MuiInputBase-root{
            &.Mui-focused{
                .MuiOutlinedInput-notchedOutline{
                    border: 0 !important;
                    box-shadow: 0 2px 8px 1px rgba(64,60,67, .24);
                }
            }
        }
       
    }
}

// .css-1gywuxd-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
//     border: 0 !important;
// }

.signBox {
    .loginBtn{
        border-color: $green !important;
        color:$green !important;
    }
}

.section {
    .inputActions{
        .postBtn{
            background-color: $primary !important;
        }
    }
}

input{
    &:focus,
    &:active{
        //border-color: $gray-d !important;
        outline: none;
        color: $bl-dark-4x;
       
    }
    // &:-webkit-autofill{
    //     &:focus,
    //     &:active{
    //         background: none !important;
    //     }
    //     background: $black !important;
    // }
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus{
//     background: $black !important;
// }